body {
  margin: 0;
  font-family: "Microsoft YaHei", Sans-serif;
  color: rgb(50,50,50);
  background-color: #CECECE;
}
table {
  background-color: white; 
}
#main {
  padding: 0px;
  margin: 0 10% 0 10%;
  border: 0px;
  border-collapse: collapse;
}

.nametitle {
  font-size: 2em; 
  min-width: 500px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.projdes{
  text-align: justify;
  margin: 0px 0px 15px 10px;
  font-size: 13pt;
  font-family:Georgia;
  font-style: italic;
}

.group_tab {
  width: 100%;
  border: 0;
  align: center;
}
.group_tab th,
.group_tab td {
  padding: 10px 20px 10px 0px;
} 

.abstract {
  text-align: justify;
  font-family: georgia; 
  font-style: italic;
  margin-left: 5px;
  padding-left: 10px;
  border-left: solid 1px lightgray;
}
.bibtex{
  font-family: courier;
  margin-left: 5px;
  padding-left: 10px;
  border-left: solid 1px lightgray;
}

footer {
  margin: 0 10% 0 10%;
  font-size: 10px;
  font-weight: 30;
  letter-spacing: 1px;
  color: #717171;
  background-color: white;
  text-align: center;
  border-top: 1px solid #CECECE;
}
footer .footer-bottom {
  padding: 10px 0px 15px 0px;
}

a {
  color:#3366cc;
  text-decoration:none;
}
a:hover {
  color: #f02853;
  text-decoration: none;
}
